<link href="catalog/view/theme/default/template/extension/payment/cielo_api/assets/css/normalize.css?v={{ versao }}" rel="stylesheet" type="text/css" />
<link href="catalog/view/theme/default/template/extension/payment/cielo_api/assets/css/skeleton.css?v={{ versao }}" rel="stylesheet" type="text/css" />
<style>
  #responsivo .button.button-primary,
  #responsivo button.button-primary,
  #responsivo input[type="submit"].button-primary,
  #responsivo input[type="reset"].button-primary,
  #responsivo input[type="button"].button-primary {
    color: {{ cor_normal_texto }};
    background-color: {{ cor_normal_fundo }};
    border-color: {{ cor_normal_borda }};
  }
  #responsivo .button.button-primary:hover,
  #responsivo button.button-primary:hover,
  #responsivo input[type="submit"].button-primary:hover,
  #responsivo input[type="reset"].button-primary:hover,
  #responsivo input[type="button"].button-primary:hover,
  #responsivo .button.button-primary:focus,
  #responsivo button.button-primary:focus,
  #responsivo input[type="submit"].button-primary:focus,
  #responsivo input[type="reset"].button-primary:focus,
  #responsivo input[type="button"].button-primary:focus {
    color: {{ cor_efeito_texto }};
    background-color: {{ cor_efeito_fundo }};
    border-color: {{ cor_efeito_borda }};
  }
</style>
<div id="responsivo">
  {% if ambiente %}
  <div class="alert alert-warning">{{ text_sandbox }}</div>
  {% endif %}
  {{ instrucoes }}
  <div id="alerta">{% if alerta %}<div class="alert alert-warning" id="warning">{{ alerta }}</div>{% endif %}</div>
  <input class="button-primary" value="{{ texto_botao }}" id="button-confirm" data-loading-text="{{ text_confirmando }}" type="button">
</div>
<script type="text/javascript" src="catalog/view/theme/default/template/extension/payment/cielo_api/assets/js/jquery.loadingoverlay.min.js?v={{ versao }}"></script>
<script type="text/javascript"><!--
  function transacao() {
    $('#warning').remove();

    $.ajax({
      url: 'index.php?route=extension/payment/cielo_api_boleto/transacao',
      dataType: 'json',
      beforeSend: function() {
        $.LoadingOverlay('show');
        $('#button-confirm').button('loading');
        $('input').prop('disabled', true);
        $('select').prop('disabled', true);
        $('button').prop('disabled', true);
      },
      complete: function() {
        $('#button-confirm').button('reset');
        $('input').prop('disabled', false);
        $('select').prop('disabled', false);
        $('button').prop('disabled', false);
        $.LoadingOverlay('hide');
      },
      success: function(json) {
        $.LoadingOverlay('hide');
        if (json['error']) {
          $('#alerta').html('<div class="alert alert-warning" id="warning">'+json['error']+'</div>');
        } else if (json['redirect']) {
          $('#button-confirm').hide();
          $('#alerta').html('<div class="alert alert-success">{{ text_confirmado }}</div>');
          location.href = json['redirect'];
        } else {
          $('#alerta').html('<div class="alert alert-warning" id="warning">{{ error_configuracao }}</div>');
        }
      },
      error: function(jqXHR, textStatus, errorThrown) {
        if (jqXHR.status == 404 || jqXHR.status == 500 || errorThrown == 'Not Found') {
          $('#alerta').html('<div class="alert alert-warning" id="warning">{{ error_configuracao }}</div>');
        }
      }
    })
  };
  $('#button-confirm').click(function() {
    transacao();
  });
//--></script>
